body {
  font-size: 16px;
  font-family:sans-serif;
  background-color: #ffffff;
  color: #353535;
  text-align: left;
  line-height: 1.2;
}

a {
  text-decoration: none;
  a:hover { color:#ff2800; } /* mouse over */
}

h1 {
  font-size: 1.5em;
  text-align: left;
  padding-top: 1.3em;
  padding-bottom: .7em;
  text-transform: capitalize;
  font-weight: 700;
}

h3 {
  font-size: 1em;
  font-style: italic;
}
p {
  font-size: 1em;
  padding-top: 1.5em;
  line-height: 1.5;
}

.author {
  font-weight: 600;
}
nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

figure {
  font-size:1em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  font-style: italic;
}

article {
  padding-bottom: 5em;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: .8em;
  color: white;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
