body {
  font-size: 16px;
  background-color: #ffffff;
  color: #353535;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.2;
}

a {
  text-decoration: none;
  a:hover { color:#ff2800; } /* mouse over */
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  background: url (~/github/css-exercise-two/images/bloc-logo.png)
  margin: 20px;
  width: 100px;
}

.large-pic {
  background: url (~/github/css-exercise-two/images/instagram-pic.jpg)
  width: 100%;
}

.medium-pic {
  background: url (~/github/css-exercise-two/images/instagram-pic.jpg)
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
